@media screen {
.navi-seiten{
    background: #333; 
    padding: 0.5em; 
    margin: 1em 0; 

}
.navi-listen{
    padding: 0;
    margin: 0 ;
}
.navi-listen a {
    display: block;
    min-width: 72px;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 0,5rem;
    

}
.navi-listen > li{

    display: inline-block;
    
    margin-right: 1em;
}


.navi-listen a.sie-sind-hier {
    background: #666; 
    color: white; 
  }  
  
  .navi-listen a:hover, 
  .navi-listen a:focus {
    background: #666; 
    color: white; 
  }


    
}